.home-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 90vh; 
    background-size:cover ;
    background-color: #f9f9f9; 
}

.dark-mode .home-container {
    background-color: #121212; 
}

.home-title {
    font-size: 3rem; 
    color: #333; 
    text-align: center; 
}

.dark-mode .home-title {
    color: white; 
}


@media (max-width: 768px) {
    .home-title {
        font-size: 2rem;
    }
}
