
*{
  box-sizing: 0px;
  margin: 0px;
}
.light-mode {
  background-color: #f9f9f9;
  color: #333;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
}


.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007bff; 
  color: white;
}

.dark-mode .app-header {
  background-color: #1a1a1a; 
}


.app-nav {
  display: flex;
  gap: 10px;
  margin-left: auto; 
}

.nav-button {
  padding: 10px 15px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 1rem;
  cursor: pointer;
}

.dark-mode .nav-button {
  background-color: #555; 
  color: white; 
}

.nav-button:hover {
  background-color: #0056b3; 
}

.dark-mode .nav-button:hover {
  background-color: #777;
}

.logout-button {
  background-color: #d9534f;
}

.dark-mode .logout-button {
  background-color: #c9302c; 
}

.logout-button:hover {
  background-color: #c9302c; 
}

.dark-mode .logout-button:hover {
  background-color: #a5281a; 
}


.theme-toggle {
  background-color: #ff9800;
}

.dark-mode .theme-toggle {
  background-color: #e68900; 
}

.theme-toggle:hover {
  background-color: #e68900;
}

.dark-mode .theme-toggle:hover {
  background-color: #d08f00; 
}

main {
  padding: 20px; 
}

.form-container {
  max-width: 400px;
  margin: 50px auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .form-container {
  background-color: #333; 
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dark-mode .form-container input {
  border: 1px solid #555;
  background-color: #444; 
  color: white; 
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #0056b3;
}

.dark-mode .form-container button {
  background-color: #555; 
}

.dark-mode .form-container button:hover {
  background-color: #777;
}


@media (max-width: 768px) {
  .app-header h1 {
      font-size: 1.5rem;
  }

  .app-nav {
      flex-direction: column;
      align-items: flex-end;
  }

  .nav-button {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
  }

  .form-container {
      width: 90%;
      padding: 15px;
  }
}
